/* ligne.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: #333;
}

/* Carte Contact */
header {
    width: 90%;
    max-width: 600px;
    padding: 60px 40px;

    text-align: center;

    background: rgba(255, 255, 255, 0.95);
    border-radius: 25px;

    box-shadow: 
        0 20px 50px rgba(0, 0, 0, 0.2);

    animation: apparition 0.8s ease-out;
}

/* Titre */
.h1 {
    margin-bottom: 15px;

    font-size: 3.5rem;
    font-weight: 700;

    color: #667eea;
    letter-spacing: 2px;
}

/* Texte */
header p {
    font-size: 1.2rem;
    color: #666;
}

/* Petite ligne décorative */
header::after {
    content: "";
    display: block;

    width: 70px;
    height: 4px;

    margin: 25px auto 0;

    background: linear-gradient(90deg, #667eea, #764ba2);
    border-radius: 10px;
}

/* Animation */
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
@media (max-width: 600px) {
    header {
        padding: 45px 25px;
    }

    .h1 {
        font-size: 2.7rem;
    }

    header p {
        font-size: 1rem;
    }
}

/* Menu */
.menu {
    background-color: #b7e4c7;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
}
